ul.nav.nav-tabs.nav-stacked.nav-pills
    each name in resources
        if name == current
            li.active
                a(href='#{name}.html') #{name}
        else
            li
                a(href='#{name}.html') #{name}